.container-fluid img {
  position: relative;
  width: 100%

}
.header{
  position: absolute;
  top: 8px;
  left: 40%;
  color: white;
  font-size: 40px;
}
.form-group {
  position: absolute;
  top: 40%;
  left: 30%;
  color: white;
  width: 500px;
  clear: both;
}

.form-group input {
  width: 100%;
  clear: both;
}
td {
  font-size: 20px;
}
.form-group table{
  border-color: red;
}
