.container-fluid img {
  position: relative;
  width: 100%

}
.header{
  position: absolute;
  top: 8px;
  left: 40%;
  color: red;
  font-size: 40px;
}
.form1{
  position: absolute;
  top: 20%;
  left: 35%;
  color: white;
  width: 500px;
  background-color: #17202A ;
  height: 400px;
  width: 400px;
  
}
table{
  position: absolute;
  top: 30%;
  border: 5px;
  border-spacing: 7px;
  
}

tr {
  font-size: 20px;
}
input{
  font-size: 20px;
}

button{
  background-color: green;
  font-size: 20px;
}
span{
  color: orange;
  font-size: 30px;
}
i{
  color: orange;
  font-size: 20px;
}