.container-fluid img {
  position: relative;
  width: 100%

}
.header{
  position: absolute;
  top: 8px;
  left: 35%;
  color: red;
  font-size: 40px;
}
.form1{
  position: absolute;
  top: 40%;
  left: 30%;
  color: white;
  width: 500px;
  background-color: blue;
  
}
table{

  align-content: center;
}
td {
  font-size: 20px;
}

button{
  background-color: blue;
}
